footer.tempo-footer {
  background: #3a4043;
}
footer.tempo-footer div.gardener-tools {
  background-color: rgba(0, 0, 0, 0.1);
}
footer.tempo-footer div.social-wrapper {
  float: right;
}
@media (max-width: 1260px) {
  footer.tempo-footer div.social-wrapper {
    width: 100%;
    float: none;
  }
}
footer.tempo-footer div.gardener-social {
  padding: 25px 0px;
  text-align: right;
}
@media (max-width: 1260px) {
  footer.tempo-footer div.gardener-social {
    text-align: center;
  }
}
footer.tempo-footer a.gardener-social-item {
  border: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 1px;
  padding: 0px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
footer.tempo-footer a.gardener-social-item,
footer.tempo-footer a.gardener-social-item:before {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 30px;
}
footer.tempo-footer a.gardener-social-item:hover,
footer.tempo-footer a.gardener-social-item:hover:before {
  color: #ffffff;
}
@media (max-width: 1260px) {
  footer.tempo-footer div.copyright-wrapper {
    width: 100%;
    float: none;
  }
}
footer.tempo-footer div.social-wrapper + div.copyright-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
footer.tempo-footer div.gardener-copyright {
  text-align: left;
}
@media (max-width: 1260px) {
  footer.tempo-footer div.gardener-copyright {
    text-align: center;
  }
}
footer.tempo-footer div.gardener-copyright p {
  color: #c1c8cc;
  margin: 31px 0px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.25px;
  text-transform: uppercase;
}
footer.tempo-footer div.gardener-copyright a {
  color: #ffffff;
  text-transform: none;
  border-bottom: none;
  position: relative;
}
footer.tempo-footer div.gardener-copyright a:before {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  content: '';
  left: 50%;
  bottom: -1px;
  width: 0px;
  height: 1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
footer.tempo-footer div.gardener-copyright a:hover:before {
  background: #ffffff;
  left: 5%;
  width: 90%;
}
