html,
body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
a {
  color: #585c64;
  text-decoration: none;
  border: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #3c3f44;
  border: none;
}
big {
  color: #121212;
  font-size: 130%;
  font-weight: bold;
}
hr {
  width: 100%;
  margin: 80px auto;
}
@media (max-width: 1260px) {
  hr {
    margin: 48px auto;
  }
}
@media (max-width: 1120px) {
  hr {
    margin: 42px auto;
  }
}
@media (max-width: 780px) {
  hr {
    margin: 32px auto;
  }
}
hr.gardener-large {
  margin: 120px auto;
}
@media (max-width: 1260px) {
  hr.gardener-large {
    margin: 96px auto;
  }
}
@media (max-width: 1120px) {
  hr.gardener-large {
    margin: 84px auto;
  }
}
@media (max-width: 780px) {
  hr.gardener-large {
    margin: 60px auto;
  }
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  position: relative;
  border: none;
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before {
  background: rgba(88, 92, 100, 0);
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0px;
  height: 1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  border: none;
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before {
  background: rgba(88, 92, 100, 0.6);
  content: '';
  bottom: -3px;
  left: 5%;
  width: 90%;
}
div.tempo-page {
  padding: 120px 0px;
}
@media (max-width: 1260px) {
  div.tempo-page {
    padding: 96px 0px;
  }
}
@media (max-width: 1120px) {
  div.tempo-page {
    padding: 84px 0px;
  }
}
@media (max-width: 780px) {
  div.tempo-page {
    padding: 60px 0px;
  }
}
div.tempo-website-wrapper div.tempo-container {
  max-width: 1630px;
  width: 92.5%;
}
div.tempo-page section.tempo-content-layout.layout-left div.tempo-section-content,
div.tempo-page section.tempo-content-layout.layout-right div.tempo-section-content {
  border-left: none;
  border-right: none;
  padding-left: 0px;
  padding-right: 0px;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  width: 30.8125%;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper.layout-right {
  float: right;
  padding-left: 3.75%;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper.layout-left {
  float: left;
  padding-right: 3.75%;
}
.tempo-content-layout.layout-left {
  float: right;
  padding-left: 0px;
  padding-right: 15px;
}
.tempo-content-layout.layout-right {
  float: left;
  padding-left: 15px;
  padding-right: 0px;
}
.tempo-content-layout.layout-left,
.tempo-content-layout.layout-right {
  width: 65.3125%;
}
@media (max-width: 1260px) {
  .tempo-content-layout.layout-left,
  .tempo-content-layout.layout-right {
    float: none;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  width: 30.8125%;
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-left {
  float: left;
  padding-right: 3.75%;
}
@media (max-width: 1680px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-left {
    padding-right: 0;
  }
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-right {
  float: right;
  padding-left: 3.75%;
}
@media (max-width: 1680px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-right {
    padding-left: 0;
  }
}
@media (max-width: 1260px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout {
    display: none;
  }
}
.tempo-hentry p + div.clearfix:last-child {
  margin-top: -40px;
}
@media (max-width: 1260px) {
  .tempo-hentry p + div.clearfix:last-child {
    margin-top: -36px;
  }
}
@media (max-width: 1120px) {
  .tempo-hentry p + div.clearfix:last-child {
    margin-top: -32px;
  }
}
@media (max-width: 780px) {
  .tempo-hentry p + div.clearfix:last-child {
    margin-top: -28px;
  }
}
@media (max-width: 480px) {
  .tempo-hentry p + div.clearfix:last-child {
    margin-top: -24px;
  }
}
.tempo-hentry pre + div.clearfix:last-child {
  margin-top: -35px;
}
.tempo-hentry form + div.clearfix:last-child {
  margin-top: -30px;
}
:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
::selection {
  background: #373b43;
  color: #fff;
}
